**AIM:** To demonstrate the use of PySpark RDD (Resilient Distributed Dataset) operations for performing various transformations and actions on employee data, leveraging the distributed computing capabilities of Apache Spark.

**Operations Performed:**
1. Creating a Spark session.  
2. Creating an RDD from a sample employee dataset.  
3. Counting the total number of employees.  
4. Collecting and displaying all employee records.  
5. Filtering employees with a salary greater than 60000.  
6. Mapping to get only employee names.  
7. Reducing by key to compute the total salary by department.  
8. Extracting distinct departments.  
9. Sorting employees by salary in descending order.  
10. Counting the number of employees in each department.  
11. Finding the maximum salary.  
12. Finding the minimum salary.  
13. Calculating the average salary.  
14. Grouping employees by department.  
15. Mapping to create a new structure with employee ID and name pairs.  
16. Taking the first two employee records.  
17. Sampling employees without replacement.

In [ ]:
#import necessary libraries
from pyspark.sql import SparkSession

In [ ]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("Employee RDD Operations") \
    .getOrCreate()

In [ ]:
# Create sample employee data
employee_data = [
    (1, 'Joe', 70000, 1),
    (2, 'Henry', 80000, 2),
    (3, 'Sam', 60000, 2),
    (4, 'Max', 90000, 1),
    (5, 'Anna', 75000, 3),
    (6, 'Tom', 50000, 3)
]

In [ ]:
# Create RDD from the employee data
employee_rdd = spark.sparkContext.parallelize(employee_data)

In [ ]:
# 1. Count total employees
total_employees = employee_rdd.count()
print(f"Total Employees: {total_employees}")

Total Employees: 6

In [ ]:
# 2. Collect all employee records
all_employees = employee_rdd.collect()
print(f"All Employees: {all_employees}")

All Employees: [(1, 'Joe', 70000, 1), (2, 'Henry', 80000, 2), (3, 'Sam', 60000, 2), (4, 'Max', 90000, 1), (5, 'Anna', 75000, 3), (6, 'Tom', 50000, 3)]

In [ ]:
# 3. Filter employees with salary greater than 60000
high_salary_employees = employee_rdd.filter(lambda x: x[2] > 60000).collect()
print(f"Employees with Salary > 60000: {high_salary_employees}")

Employees with Salary > 60000: [(1, 'Joe', 70000, 1), (2, 'Henry', 80000, 2), (4, 'Max', 90000, 1), (5, 'Anna', 75000, 3)]

In [ ]:
# 4. Map to get only names of employees
employee_names = employee_rdd.map(lambda x: x[1]).collect()
print(f"Employee Names: {employee_names}")

Employee Names: ['Joe', 'Henry', 'Sam', 'Max', 'Anna', 'Tom']

In [ ]:
# 5. Reduce by key to get total salary by department
total_salary_by_dept = employee_rdd.map(lambda x: (x[3], x[2])).reduceByKey(lambda a, b: a + b).collect()
print(f"Total Salary by Department: {total_salary_by_dept}")

Total Salary by Department: [(2, 140000), (1, 160000), (3, 125000)]

In [ ]:
# 6. Get distinct departments
distinct_departments = employee_rdd.map(lambda x: x[3]).distinct().collect()
print(f"Distinct Departments: {distinct_departments}")

Distinct Departments: [2, 1, 3]

In [ ]:
# 7. Sort employees by salary in descending order
sorted_employees = employee_rdd.sortBy(lambda x: x[2], ascending=False).collect()
print(f"Employees Sorted by Salary: {sorted_employees}")

Employees Sorted by Salary: [(4, 'Max', 90000, 1), (2, 'Henry', 80000, 2), (5, 'Anna', 75000, 3), (1, 'Joe', 70000, 1), (3, 'Sam', 60000, 2), (6, 'Tom', 50000, 3)]

In [ ]:
# 8. Count employees in each department
employees_per_dept = employee_rdd.map(lambda x: (x[3], 1)).reduceByKey(lambda a, b: a + b).collect()
print(f"Employees Count per Department: {employees_per_dept}")

Employees Count per Department: [(2, 2), (1, 2), (3, 2)]

In [ ]:
# 9. Find the maximum salary
max_salary = employee_rdd.map(lambda x: x[2]).max()
print(f"Maximum Salary: {max_salary}")

Maximum Salary: 90000

In [ ]:
# 10. Find the minimum salary
min_salary = employee_rdd.map(lambda x: x[2]).min()
print(f"Minimum Salary: {min_salary}")

Minimum Salary: 50000

In [ ]:
# 11. Calculate average salary
average_salary = employee_rdd.map(lambda x: x[2]).mean()
print(f"Average Salary: {average_salary}")

Average Salary: 70833.33333333333

In [ ]:
# 12. Group employees by department
grouped_by_dept = employee_rdd.map(lambda x: (x[3], x)).groupByKey().mapValues(list).collect()
print(f"Grouped Employees by Department: {grouped_by_dept}")

Grouped Employees by Department: [(2, [(2, 'Henry', 80000, 2), (3, 'Sam', 60000, 2)]), (1, [(1, 'Joe', 70000, 1), (4, 'Max', 90000, 1)]), (3, [(5, 'Anna', 75000, 3), (6, 'Tom', 50000, 3)])]

In [ ]:
# 13. Map to create a new structure with ID and Name only
id_name_pairs = employee_rdd.map(lambda x: (x[0], x[1])).collect()
print(f"ID and Name Pairs: {id_name_pairs}")

ID and Name Pairs: [(1, 'Joe'), (2, 'Henry'), (3, 'Sam'), (4, 'Max'), (5, 'Anna'), (6, 'Tom')]

In [ ]:
# 14. Take the first two records
first_two_employees = employee_rdd.take(2)
print(f"First Two Employees: {first_two_employees}")

First Two Employees: [(1, 'Joe', 70000, 1), (2, 'Henry', 80000, 2)]

In [ ]:
# 15. Sample without replacement
sampled_employees = employee_rdd.sample(False, 0.5).collect() # Sample approximately half of the data
print(f"Sampled Employees: {sampled_employees}")

Sampled Employees: []

In [ ]:

# Stop Spark session
spark.stop

**Record:**Performed various rdd operations on